{erl_opts, [debug_info, maps_support]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.

{deps, [
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx", {branch, "old-master"}}},
    {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse", {branch, "master"}}},
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy", {tag, "2.9.0"}}},
    {gun, ".*", {git, "https://github.com/ninenines/gun", {tag, "2.0.0-rc.2"}}},
    {certifi, ".*", {git, "https://github.com/certifi/erlang-certifi", {tag, "2.7.0"}}},
    {igor, ".*", {git, "https://github.com/igorlang/igor-erlang", {branch, "main"}}},
    {aplib, ".*", {git, "https://github.com/toadmaninteractive/aplib", {branch, "main"}}},
    {cerberus, ".*", {git, "https://github.com/toadmaninteractive/cerberus", {branch, "main"}}}
]}.
