<div class="tabbable page-tabs instance">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#users" data-toggle="tab" prevent-click><i class="icon-user"></i> Users</a></li>
        <li><a href="#realms" data-toggle="tab" prevent-click><i class="icon-list"></i> Realms</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active fade in" id="users" template="instance_roles_view.html"></div>
        <div class="tab-pane fade" id="realms" template="realm_roles_view.html"></div>
    </div>
</div>
